@import 'partials/reset';
@import 'partials/mixins';
@import 'partials/variables';

html { 
	// scroll-snap-type:y proximity;
	// scroll-snap-stop:always;
	// scroll-behavior: smooth;
	// overscroll-behavior: none;

	// Reduces font-size according to the screen size by using rem unit in the CSS rules.
	font-size:74%;

	@include for-tablet-portrait-up {
		font-size:82%;
	}

	@include for-tablet-landscape-up {
		font-size:87.5%;
	}
}

body {
	background-color: $background-color;
	font-size:1.6rem;
	line-height:1.5;
	font-family: $sans-serif;

	// Scroll behavior for home page.
	// &.home {
	// 	#site-header{
	// 		scroll-snap-align:start;
	// 	}
		
	// 	article:not(:first-of-type) {
	// 		scroll-snap-align: start;
	// 	}
	// }
}

* {
	color: $primary;
}

a {
	color: $primary;
	max-width: 100%;
  	display: inline-block;
  	white-space: normal;

	&:hover {
		color:$primary-light;
	}
}

strong {
	font-weight:500;
}

img,
picture,
svg { 
	max-width: 100%;
	display: inline-block;
	height:auto;
}

.container, .section-inner, .alignwide, .entry-content { 
	max-width: $max-site-width;
	margin-inline: auto !important;
}

h1 { 
	font-size: 2.4rem;
	margin:40px 0px;
}

h2 {
	font-size:2.4rem;
	margin:30px 0px;
}

h3 {
	font-size:1.8rem;
	margin-top:20px;
}

button[type="submit"] {
	background-color: $secondary !important;
	color: $background-color !important;

	
}

iframe[src*="youtube.com"] { // for youtube embeds
	width: 100% !important;
	aspect-ratio: 5/2.8 !important;
	height: auto !important;
}

.wp-block-social-links .wp-social-link svg {
	height:2em;
	width:2em;
}

// WPForms confirmation message
div.wpforms-container-full .wpforms-confirmation-container-full {
	background:none !important;
	border: 1px solid $dove-gray !important;
	border-radius: 6px;
	text-align: center;

	p {
		color: $secondary;
	}
}

@import 'partials/header';
@import 'partials/content';
@import 'partials/pagination';
@import 'partials/contact';
@import 'partials/footer';
